<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台首页面</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/layer/theme/default/layer.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/css/bim-css.css');?>" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/jquery.min.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layer/layer.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/logins.js');?>"></script>
<link rel="StyleSheet" href="<?php echo apth_url('subject/bim/dtree/dtree.css');?>" type="text/css" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/dtree/dtree.js');?>"></script>
</head>
<body>
<div class="key_box">
	<h1>后台首页</h1>	
</div>
<div class="key_tablebox" set-url="<?php echo apth_url('');?>" style="margin-top:30px;">
	<script type="text/javascript">
		d = new dTree('d');
		d.add(0,-1,'查看所有考试分类');
<?php if(!empty($wxfl)){?>	
	<?php foreach($wxfl as $k=>$v){?>
		d.add('<?php echo $v["id"];?>','<?php echo $v["pid"];?>','<?php echo $v["title"];?>','<?php echo apth_url("?act=getkey_update&id=".$v["id"]);?>');
	<?php } ?>	
<?php } ?>			
		document.write(d);
	</script>
</div>
</body>
</html>