<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>帮助中心</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/layer/theme/default/layer.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/css/bim-css.css');?>" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/jquery.min.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layer/layer.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/logins.js');?>"></script>
</head>
<body>
<div class="key_box">
	<h1><a href="<?php echo apth_url('?act=adminfrom');?>" target="_parent">&lt;&lt;返回首页</a> &nbsp; &nbsp; &nbsp; 文档中心</h1>	
</div>
<table class="key_tablebox">
		<tr>
			<td>序号</td>
			<td>OPENID</td>
			<td>APPKEY</td>
			<td>生成时间</td>
			<td>操作</td>
		</tr>
		<tr>
			<td>1</td>
			<td>2018070316345469</td>
			<td>sdgh5263598ikolpuyhn5360r1g5s8l</td>
			<td>2018-07-03 17:16:30</td>
			<td>删除</td>
		</tr>
</table>
</body>
</html>