<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>资源管理器</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/layer/theme/default/layer.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/css/bim-css.css');?>" />
<link  href="<?php echo apth_url('subject/bim/viewer/dist/viewer.css');?>" rel="stylesheet">
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/jquery-1.11.2.min.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layer/layer.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/logins.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/auto-line-number.js');?>"></script>
<script src="<?php echo apth_url('subject/bim/viewer/dist/viewer.js');?>"></script>
</head>
<body>
<div class="key_box">
	<h1><a href="javascript:void(0);" onclick="Diachronic();">&lt;&lt;返回</a>
	 &nbsp; &nbsp; &nbsp; 
	 <a href="<?php echo apth_url('?act=gethelp');?>">资源管理器</a>
<?php if( $upApth != '' ){ ?>	 
	 &nbsp; &nbsp; &nbsp;
	 <a href="<?php echo apth_url('?act=gethelp&path='.urlencode($upApth));?>">返回上一层</a>
<?php } ?>	 
	 &nbsp; &nbsp; &nbsp;
	 <a href="<?php echo $upApth==''?'javascript:void(0);':apth_url('?act=gethelp&path='.urlencode($filename));?>">当前 <?php echo $filename;?></a> 
	 </h1>	
</div>
<table class="key_tablebox tableBox" style="margin-top:10px;">
<?php if( !empty( $files ) ){ ?>
		<tr>
			<td>名称</td>
			<td>大小</td>
			<td>创建时间</td>
			<td>操作</td>
		</tr>
	<?php foreach( $files as $k => $v ){ ?>	
		<?php 
			$ext_1=iconv('utf-8','gbk', $filename.'/'.$v );
			$ext2 = '';
			if( is_file( $ext_1 ) )
			{
				$extArr2 = explode('.', $v);
				$ext2 = strtolower( end( $extArr2 ) );
			}
		?>			
		<tr>
			<td>
		<?php if( is_dir( $ext_1 ) ){?>		
				<a href="<?php echo apth_url('?act=gethelp&path='.urlencode($filename.'/'.$v));?>">
					<img src="<?php echo getFilesType($filename.'/'.$v);?>" align="absmiddle" />
					<?php echo $v?>
				</a>
		<?php } ?>	
		<?php if( is_file( $ext_1 ) ){?>
			<?php if( $ext2 == $zipArr[0] ){?>
				<a href="<?php echo apth_url('?act=gethelp&path='.urlencode($filename.'/'.$v));?>">
					<img src="<?php echo getFilesType($filename.'/'.$v);?>" align="absmiddle" />
					<?php echo $v?>
				</a>
			<?php }elseif( $ext2 == $zipArr[1] ){ ?>
				<a href="<?php echo apth_url($v);?>">
					<img src="<?php echo getFilesType($filename.'/'.$v);?>" align="absmiddle" />
					<?php echo $v?>
				</a>
			<?php }elseif( $ext2 == $zipArr[2] ){ ?>
				<a href="<?php echo apth_url($v);?>">
					<img src="<?php echo getFilesType($filename.'/'.$v);?>" align="absmiddle" />
					<?php echo $v?>
				</a>
			<?php }elseif( in_array($ext2,$vodeArr) ){ ?>
				<a href="javascript:void(0);" onclick="getVodieApth('<?php echo str_replace($_SERVER['DOCUMENT_ROOT'], 'http://127.0.0.1',$filename.'/'.$v);?>');">
					<img src="<?php echo getFilesType($filename.'/'.$v);?>" align="absmiddle" />
					<?php echo $v?>
				</a>
			<?php }elseif( in_array($ext2,$imgArr) ){ ?>
				<a href="javascript:void(0);" onclick="getImgApth('<?php echo str_replace($_SERVER['DOCUMENT_ROOT'], 'http://127.0.0.1',$filename.'/'.$v);?>');">
					<img src="<?php echo getFilesType($filename.'/'.$v);?>" align="absmiddle" />
					<?php echo $v?>
				</a>
			<?php }elseif( $ext2 == $officeArr[2] ){ ?>
				<a href="javascript:void(0);" onclick="getOfficeApth('<?php echo apth_url('subject/bim/ViewerJS/#'.str_replace($_SERVER['DOCUMENT_ROOT'], 'http://127.0.0.1',$filename.'/'.$v));?>');">
					<img src="<?php echo getFilesType($filename.'/'.$v);?>" align="absmiddle" />
					<?php echo $v?>
				</a>
			<?php }elseif( $ext2 == $officeArr[4] ){ ?>
				<a href="javascript:void(0);" onclick="getOfficeApth('<?php echo apth_url('subject/bim/ViewerJS/#'.str_replace($_SERVER['DOCUMENT_ROOT'], 'http://127.0.0.1',$filename.'/'.$v));?>');">
					<img src="<?php echo getFilesType($filename.'/'.$v);?>" align="absmiddle" />
					<?php echo $v?>
				</a>		
			<?php }else{ ?>
				<a href="<?php echo apth_url('?act=gethelp&path='.urlencode($filename.'/'.$v));?>">
					<img src="<?php echo getFilesType($filename.'/'.$v);?>" align="absmiddle" />
					<?php echo $v?>
				</a>
			<?php } ?>	
		<?php } ?>			
			</td>
		<?php if( !is_dir( $filename.'/'.$v )){?>
			<td><?php echo getBtSize( $filename.'/'.$v );?></td>
		<?php }else{ ?>
			<td></td>
		<?php } ?>				
			<td><?php echo getFilecTIME($filename.'/'.$v);?></td>
			<td>
		
<?php if( is_dir( $ext_1 ) ){?>			
			<a href="<?php echo apth_url('?act=gethelp&path='.urlencode($filename.'/'.$v));?>">打开</a>｜删除
<?php } ?>	

<?php if( is_file( $ext_1 ) ){?>
	<?php if( in_array($ext2, $zipArr) ){ ?>
			<a href="<?php echo apth_url($v);?>">下载</a>｜删除
	<?php }else if( in_array($ext2, $imgArr) ){ ?>	
			<a href="javascript:void(0);" onclick="getImgApth('<?php echo str_replace($_SERVER['DOCUMENT_ROOT'], 'http://127.0.0.1',$filename.'/'.$v);?>');">浏览</a>｜删除
	<?php }elseif( in_array($ext2,$vodeArr) ){ ?>
			<a href="javascript:void(0);" onclick="getVodieApth('<?php echo str_replace($_SERVER['DOCUMENT_ROOT'], 'http://127.0.0.1',$filename.'/'.$v);?>');">观看</a>｜删除
	<?php }else{ ?>
			<a href="javascript:void(0);" onclick="setUpdateFile('<?php echo apth_url('?act=iframe_bianji&path='.urlencode($filename.'/'.$v));?>','<?php echo $filename.'/'.$v;?>');">修改</a>｜删除
	<?php } ?>	
<?php } ?>	
		
			</td>
		</tr>
	<?php } ?>	
<?php }else{ ?>
	<?php if( is_dir( $is_files ) ){?>
		<tr>
			<td colspan="4">空文件夹</td>
		</tr>
	<?php } ?>	
	<?php if( is_file( $is_files ) ){?>
		<div style="width:90%;margin:auto;"><textarea class="div_text bianji-textarea-l" disabled="disabled" id="text"><?php echo $strs;?></textarea></div>
	<?php } ?>	
<?php } ?>		
</table>
<div class="bianji-textarea-l tableBox" style="display:none;"></div>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/ckplayer/ckplayer.js');?>"></script>
<script>
$(".bianji-textarea-l:eq(0)").height($(".bianji-textarea-l:eq(0)")[0].scrollHeight);
function Diachronic(){
	window.history.go(-1);
}
$(function(){
	$(".tableBox p:eq(0),.tableBox p:eq(1)").css({"font-weight":"bold"});
	$(".tableBox tr").filter(":even").css("background","#F4F4F4").end().filter(":odd").css("background","#FFFFFF");
	$(".tableBox tr").hover(function(){
		$(this).css({"background":"#FFFFDD"});
	},function(){
		$(".tableBox tr").filter(":even").css("background","#F4F4F4").end().filter(":odd").css("background","#FFFFFF");
	});
});
$("#text").setTextareaCount({
	width: "50px",
	bgColor: "#ded5d5",
	color: "#FFFFFF",
	display: "inline-block"
});
function getImgApth(p)
{
	layer.open({
	  type: 1,
	  title: false,
	  closeBtn: 0,
	  skin: 'layui-layer-nobg',
	  shadeClose: true,
	  content: '<img src="'+p+'"/>'
	});
}
function getVodieApth(p)
{
	var html = '<div style="border:1px solid #0e0e0e;width:780px;height:450px;margin:10px auto;" id="video"></div>';
	layer.open({
	  title:false,
	  type: 1,
	  skin: 'layui-layer-demo',
	  closeBtn: 0,
	  area: '800px',
	  anim: 2,
	  shadeClose: true,
	  content: html
	});
	var videoObject = {
			container: '#video',
			variable: 'player',
			flashplayer:false,
			video:p
	};
	var player=new ckplayer(videoObject);
}
function getOfficeApth(p)
{
	open(p,'new');
}
var index;
function setUpdateFile(p,n)
{
	index = layer.open({
		 type: 2,
		 title: 'TanLin '+n+' 可编辑文档',
		 shadeClose: true,
		 shade: 0.8,
		 area: ['1000px', '95%'],
		 content: p //iframe的url
	}); 	
}
</script>
</body>
</html>