<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>分类管理</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/css/bim-css.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/layer/theme/default/layer.css');?>" />
<link rel="stylesheet" href="<?php echo apth_url('subject/bim/treeview/jquery.treeview.css');?>" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/jquery-1.11.2.min.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/logins.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layer/layer.js');?>"></script>
<link rel="StyleSheet" href="<?php echo apth_url('subject/bim/dtree/dtree.css');?>" type="text/css" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/dtree/dtree.js');?>"></script>
</head>
<body>
<div class="key_box">
	<h1><a href="javascript:void(0);" onclick="Diachronic();">&lt;&lt;返回</a> &nbsp; &nbsp; &nbsp;
<?php if( $power==2 || $power==1 ){?>	 
	<input type="button" value="导入题库 " class="cearter_key" onclick="cearter_key();"/>
<?php }?>	
	</h1>	
</div>
<div class="addfl">
	<form id="ify_frm">
		<p>分类名称： <input type="text" name="title" value="" class="ad_fls" id="ad_fls1"/></p>
		<p>分类排序： <input type="text" name="sort" value="0" class="ad_fls" id="ad_fls2" style="width:5.8rem;"/></p>
		<p>
			添加父类：
			<select name="pid" class="ad_fls2">
				<option value="0">添加为顶级类</option>
	<?php if(!empty($flRows1)){?>
		<?php foreach( $flRows1 as $k => $v ){?>	
				<option value="<?php echo $v['id'];?>"><?php echo $v['title'];?></option>
		<?php }?>		
	<?php }?>
			</select>
		</p>
		<p>分类描述： <input type="text" name="descri" value="" class="ad_fls"/></p>
		<p>分类状态： <label><input type="radio" name="state" value="0" checked="checked"/>显示</label> &nbsp; &nbsp; <label><input type="radio" name="state" value="1"/>隐藏</label></p>
		<div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <input type="button" value="添加" class="sbm_fl" onclick="sbm_fl();"/></div>
	</form>
</div>
<div class="key_tablebox_all">
	<div class="key_tablebox_allins">
		搜索分类：
		<select onchange="search_ify(this);" class="ad_fls2">
				<option value="">所有分类</option>
	<?php if(!empty($flRows1)) { ?>
		<?php foreach( $flRows1 as $k => $v ) { ?>
			<?php if($id == $v['id']) { ?>	
				<option value="<?php echo $v['id'];?>" selected="selected"><?php echo $v['title'];?></option>
			<?php } else { ?>
				<option value="<?php echo $v['id'];?>"><?php echo $v['title'];?></option>
			<?php } ?>	
		<?php } ?>		
	<?php } ?>
		</select>
		&nbsp; &nbsp; &nbsp; &nbsp;
		<input type="text" id="search" value="<?php echo $s;?>" placeholder="题干/年份/书本名称" class="ad_fls">
		<input type="button" value="搜索" class="btn_sreach" onclick="btn_sreach();">
		&nbsp; &nbsp; &nbsp; &nbsp;
		<a href="<?php echo apth_url('?act=gettiku');?>">全部</a>
		&nbsp; &nbsp; 
		<a href="<?php echo apth_url('?act=gettiku&t=0');?>">单选题</a>
		&nbsp; &nbsp; 
		<a href="<?php echo apth_url('?act=gettiku&t=1');?>">多选题</a>
		&nbsp; &nbsp; 
		<a href="<?php echo apth_url('?act=gettiku&t=2');?>">判断题</a>
		&nbsp; &nbsp; 
		<a href="<?php echo apth_url('?act=gettiku&t=3');?>">问答题</a>
	</div>
<table class="key_tablebox tableBox">
		<tr>
			<td>序号</td>
			<td>分类名称</td>
			<td>题型</td>
			<td>题干</td>
			<td>选项</td>
			<td>选项数</td>
			<td>答案</td>
			<td>考题年份</td>
			<td>书本名称</td>
			<td>创间时间</td>
			<td>状态</td>
			<td>操作</td>
		</tr>
<?php if( !empty( $rows ) ){?>
	<?php foreach( $rows as $k => $v ){?>	
		<tr>
			<td><?php echo ($k+1);?></td>
			<td><?php echo $v['title'];?></td>
			<td><?php echo GetFourTypes2($v['typeofs']);?></td>
			<td><?php echo $v['dry'];?></td>
			<td><?php echo $v['options'];?></td>
			<td><?php echo $v['numbers'];?></td>
			<td><?php echo $v['answers'];?></td>
			<td><?php echo $v['years'];?></td>
			<td><?php echo $v['booknames'];?></td>
			<td><?php echo date('Y.m.d H:i:s',$v['publitime']);?></td>
			<td><?php echo GetState($v['state']);?></td>
			<td>
<?php if( $power==2 || $power==1 ){ ?>			
				<a href="javascript:void(0);" onclick="update_info('<?php echo $v['id'];?>','<?php echo $page;?>');">修改</a> 
<?php }else{ ?>
			<font color="#999999">观看</font>
<?php } ?>					
<?php if( $power==2 ){ ?>	
				 &nbsp; | &nbsp;			
				<a href="javascript:void(0);" onclick="delete_info('<?php echo $v['id'];?>','<?php echo $page;?>');">删除</a>
<?php } ?>					
			</td>
		</tr>
	<?php }?>	
<?php }?>
		<tr>	
			<td colspan="12">			
			共<?php echo $TotalRows;?>条 &nbsp; &nbsp; 
<?php if($TotalRows>$TotalShow){?>			
			当前 <?php echo $page;?>/<?php echo $TotalPage;?> 页  &nbsp; &nbsp; 
			<a href="<?php echo apth_url('?act=gettiku&page='.($page-1));?>">上一页</a> &nbsp; | &nbsp; <a href="<?php echo apth_url('?act=gettiku&page='.($page+1));?>">下一页</a>  &nbsp; &nbsp; 
			跳转至 <input type="text" id="g"/> 页 <input type="button" value="G" onclick="btn_g();" class="btn_g"/>  &nbsp; &nbsp; 
<?php }?>	
<?php if( $power==2 || $power==1 ){ ?>			
			<select onchange="SetShwoTotal(this);">
				<option value="5" <?php echo $TotalShow==5?'selected="selected"':''?> >显示5条</option>
				<option value="10" <?php echo $TotalShow==10?'selected="selected"':''?> >显示10条</option>
				<option value="20" <?php echo $TotalShow==20?'selected="selected"':''?> >显示20条</option>
				<option value="30" <?php echo $TotalShow==30?'selected="selected"':''?> >显示30条</option>
				<option value="50" <?php echo $TotalShow==50?'selected="selected"':''?> >显示50条</option>
				<option value="100" <?php echo $TotalShow==100?'selected="selected"':''?> >显示100条</option>
			</select>
<?php }?>			
			</td>
		</tr>					
</table>
</div>
<script>
function btn_sreach()
{
	var search = $("#search").val();
	if( search != '' )
	{
		location.href="<?php echo apth_url('?act=gettiku&s=');?>"+search;
	}
	else
	{
		location.href="<?php echo apth_url('?act=gettiku');?>";
	}	
}
function cearter_key()
{
	location.href = "<?php echo apth_url('?act=import_tiku');?>";
}
function Diachronic(){
	window.history.go(-1);
}
function delete_info(id,p)
{
	layer.confirm('您是否要删除这条分类？删除后无法恢复，分类下的信息将会全部丢失！', {
		  btn: ['确定','取消'] //按钮
		}, function(){
		  layer.msg('正在删除......', {icon: 1},function(){
			  $.post('<?php echo apth_url("index.php");?>',{'act':'delete_info','id':id},function(data){
				  var obj = eval("("+data+")");
				  layer.msg(obj.txt,{time:1000},function(){
						location.reload();
					});
			  });
		  });		  
		}, function(){});
}
function update_info(id,p)
{
	location.href = "<?php echo apth_url('?act=gettiku_update&id=');?>"+id+'&page='+p;
}
function search_ify(t)
{
	var d = $(t).val();
	location.href="<?php echo apth_url('?act=gettiku&page='.$page.'&id=');?>"+d;
}
function SetShwoTotal(t)
{
	var c = $(t).val();
	$.post('<?php echo apth_url("index.php");?>',{'act':'SetShwoTotal','c':c},function(d){
		location.reload();
	});
}
function btn_g()
{
	var d = $("#g").val();
	if( d != '' )
	{
		location.href="<?php echo apth_url('?act=gettiku&page=');?>"+d;
	}	
}
$(function(){
	$(".tableBox p:eq(0),.tableBox p:eq(1)").css({"font-weight":"bold"});
	$(".tableBox tr").filter(":even").css("background","#F4F4F4").end().filter(":odd").css("background","#FFFFFF");
	$(".tableBox tr").hover(function(){
		$(this).css({"background":"#FFFFDD"});
	},function(){
		$(".tableBox tr").filter(":even").css("background","#F4F4F4").end().filter(":odd").css("background","#FFFFFF");
	});
});
</script>
</body>
</html>