<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>文本编辑器</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/layer/theme/default/layer.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/css/bim-css.css');?>" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/jquery-1.11.2.min.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layer/layer.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/logins.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/auto-line-number.js');?>"></script>
</head>
<body>
<div class="key_box">
	<h1 style="padding-left:18px;">
	 <a href="<?php echo apth_url('?act=iframe_bianji&path='.urlencode($is_files));?>">刷新</a> 
	 &nbsp; &nbsp; &nbsp;
	 <a href="javascript:void(0);" onclick="SaveTheFile();">
	 <img src="<?php echo apth_url('subject/bim/resources/save.png');?>" align="absmiddle"/>保存文件
	 </a> 
	 &nbsp; &nbsp; &nbsp;
	 <a href="javascript:void(0);" onclick="ResetFile();">取消</a> 
	 </h1>	
</div>
<?php if( is_file( $is_files ) ){?>
		<div style="width:98%;margin:0px auto;"><textarea class="div_text2" id="text" ><?php echo $strs;?></textarea></div>
<?php } ?>	
<script>
$("#text").setTextareaCount({
	width: "50px",
	bgColor: "#ded5d5",
	color: "#FFFFFF",
	display: "inline-block"
});
var index = parent.layer.getFrameIndex(window.name);
function SaveTheFile()
{
	var txt = $("#text").val();
	$.post("<?php echo apth_url('index.php');?>",{'act':'up_bianjis','txt':txt,'apth':'<?php echo $is_files;?>'},function(d){
		if( d == 'OK' )
		{
			layer.msg('保存成功',{time:1000},function(){			
				parent.layer.close(index);
			});
		}
	});
}
function ResetFile()
{
	parent.layer.close(index);	
}
</script>
</body>
</html>