<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>菜单栏</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/layer/theme/default/layer.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/css/bim-css.css');?>" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/jquery-1.11.2.min.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layer/layer.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/logins.js');?>"></script>
</head>
<body>
<ul class="menu_list">
	<li><a href="<?php echo apth_url('?act=getkey');?>" target="show_winds">分类管理</a></li>
	<li><a href="<?php echo apth_url('?act=geturl');?>" target="show_winds">用户管理</a></li>
	<li><a href="<?php echo apth_url('?act=examqm');?>" target="show_winds">考题管理</a></li>
	<li><a href="<?php echo apth_url('?act=getpay');?>" target="show_winds">资讯管理</a></li>
	<li><a href="<?php echo apth_url('?act=gethelp');?>" target="show_winds">帮助中心</a></li>
</ul>
</body>
</html>