<!DOCTYPE html>
<html style="height:100%;">
<head>
<meta charset="UTF-8">
<title>火天信添值服务</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/css/bim-css.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/layer/theme/default/layer.css');?>" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/jquery-1.11.2.min.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layer/layer.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/logins.js');?>"></script>
</head>
<body class="gradient">
<div class="hhh_boxs" style="height:380px;margin-top:-190px;">
	<div class="hhh_boxsins">用户注册</div>
	<div class="user_loginbox">
		<div class="user_zh first"><span style="color:#060606">帐号：</span><input type="text" name="users" value="" class="inputs"/><span class="tishiinfo"></span></div>
		<div class="user_zh"><span style="color:#060606">密码：</span><input type="password" name="pwd" value="" class="inputs"/><span class="tishiinfo"></span></div>
		<div class="user_zh first"><span style="color:#060606">手机：</span><input type="text" name="tel" value="" class="inputs"/><span class="tishiinfo"></span></div>
		<div class="user_zh"><span style="color:#060606">邮箱：</span><input type="text" name="email" value="" class="inputs"/><span class="tishiinfo"></span></div>
		<div class="user_zh"> &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;<input type="button" value="注册" onclick="reset_s(this);" class="btn_login" set-url="<?php echo apth_url('index.php');?>"/></div>
		<div style="text-align:center;line-height:3.5rem;">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<a href="<?php echo apth_url('');?>" style="color:#00ffff;">返回登录</a></div>
	</div>
</div>
</body>
</html>