*{margin: 0;padding: 0;list-style: none;word-wrap:break-word; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,form, fieldset, legend, button, input, textarea,th, td, b{ 
	margin: 0; padding: 0; font-weight: normal; font-family: '微软雅黑';
	font-size: 0.7rem;
	color: #333;
}

ul, ol { list-style: none; }
a {text-decoration: none; color:#000;}
a:hover { text-decoration: none;color:#000; }

input::-moz-placeholder,textarea::-moz-placeholder {color: #aaa;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {color: #aaa;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color: #aaa;}

table { border-collapse: collapse; border-spacing: 0; }

img{
	max-width: 100%;
	margin: 0 auto;
}
html{height:92%;}
.gradient{
	height:92%;
    background: -webkit-linear-gradient(#a2d1f1, #03325d); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#a2d1f1, #03325d); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#a2d1f1, #03325d); /* Firefox 3.6 - 15 */
    background: linear-gradient(#a2d1f1, #03325d); /* 标准的语法 */
}
.hhh_boxs{border:1px solid #3f6e95;width:400px;height:250px;position:absolute;top:50%;left:50%;margin-top:-125px;margin-left:-200px;border-radius:10px;padding:10px;background:url(../images/l_dg.png) no-repeat;box-shadow: 0px 0px 2px 2px #abcdef inset;}
.hhh_boxsins{height:4rem;line-height:4rem;text-align:center;font-size:1.2rem;color:#def0fb;}
.user_loginbox{border-top:1px solid #0b3a65;}
.user_zh{height:3rem;line-height:3rem;text-align:center;font-size:0.9rem;position:relative;left:0;}
.user_zh span{color:#def0fb;}
.inputs{padding:3px;border-radius:4px;border:none;width:10rem;outline:none;}
.first{margin-top: 12px;}
.btn_login{width:10.5rem;height:2rem;background:#1c69ab;border:none;border-radius:0.4rem;outline:none;cursor:pointer;color:aqua;}
.btn_login:hover{
	background:-webkit-linear-gradient(#1c27ab,#114c7d); /* Safari 5.1 - 6.0 */
    background:-o-linear-gradient(#1c27ab,#114c7d); /* Opera 11.1 - 12.0 */
    background:-moz-linear-gradient(#1c27ab,#114c7d); /* Firefox 3.6 - 15 */
    background:linear-gradient(#1c27ab,#114c7d); /* 标准的语法 */
    color:#00ff66;
}
.user_zh .tishiinfo{display:block;position:absolute;top:0;right:0;width:5.6rem;color:#770404;}
/*后台框架*/
.admin_box{
	border:1px solid #383535;
	background:#383535;
    height:4rem;
    position: relative;
    top:0;
    left:0;
}
.adming_logo{width:200px;height:45px;margin-top:0.55rem;margin-left:0.55rem;background: url('../images/logo-1.png') no-repeat;}
.adming_all{width:100%;height:100%;}
.ta_left{width:12rem;background:#2b2a2a;}
.ta_right{padding:10px;}
.menu_list li{border-bottom:1px solid #383535;height:3.8rem;font-size: 0.9rem;text-align:center;line-height:3.8rem;}
.menu_list li a{color: #d6cbcb;display: block;}
.menu_list li a:hover{color:#69b530;}

.mobile{border:1px solid #ece7e7;width: 18rem;height: 10rem;float: left;margin-right: 0.5rem;border-radius: 4px;background: #ece7e7;margin-top: 50px;margin-left: 50px;}
.mobile b{font-weight:bold;}
.mobile p{height: 2rem;line-height:2rem;margin:9px 5px 0 5px;}

.shengcheng{margin-top:50px;display: none;}
.shengcheng p{height:3rem;line-height:3rem;}
.openid_sls{padding:3px;width: 20rem;border-radius: 0.4rem;border: 1px solid #e2d0d0;outline: none;}
.openid_btn{border: 1px solid #3571cc;width:4rem;height:1.4rem;border-radius:0.5rem;background:#3571cc;color:#ede3d3;outline:none;cursor:pointer;}
.openid_btn:hover{background:#86b2f5;color:#383535;}
.btn_cearter{border: 1px solid #3571cc;width: 24.5rem;height: 2rem;background: #3571cc;color: aliceblue;border-radius: 0.5rem;outline: none;cursor:pointer;}
.btn_cearter:hover{background:#86b2f5;color:#383535;}

.key_box{border-bottom:1px solid #ded5d5;}
.key_box h1{height:50px;line-height:50px;font-size:1rem;}
.key_box h1 a{color:#4a4c4c;font-size:0.8rem;}
.key_box h1 a:hover{text-decoration: underline;}
.cearter_key{border: 1px solid #3571cc;width:5rem;height:2rem;background:#3571cc;border-radius:4px;outline:none;cursor:pointer;color:antiquewhite;}
.cearter_key:hover{background:#86b2f5;color:#383535;}
.key_tablebox{width:100%;}
.key_tablebox tr{height:2.8rem;text-align:center;}
.key_tablebox td{border:1px solid #ded5d5;}
.key_tablebox td a:hover{color:#FF0000;}

.right_allboxs{float:right;height:4rem;position:absolute;top:0;right:50px;}
.right_allboxs li{float:left;height:2.5rem;margin-top:0.6rem;color:#f3f7f5;}
.right_allboxs li img{width:2.6rem;height:2.5rem;border-radius:2.6rem;border:none;}
.pic_imgs{width:2.6rem;}
.pic_imgs2{padding:0 10px;line-height:2.5rem;}
.pic_imgs2 a{color:#f3f7f5;}
.pic_imgs2 a:hover{color:#a0cc1c;}

.select_opid{border: 1px solid #dacece;height:1.5rem;padding:0 0.5rem;border-radius:0.4rem;}

/*添加分类*/

.addfl{margin-top:20px;display:none;}
.addfl p{height:40px;line-height:40px;}
.ad_fls{width:15rem;height:1.2rem;padding:0.15rem;outline:none;}
.ad_fls2{height:1.7rem;outline:none;}
.sbm_fl{border:1px solid #e2d0d0;background:#aadee6;height:2.5rem;width:15rem;border-radius:0.4rem;cursor:pointer;font-size:1rem;outline:none;}
.sbm_fl:hover{background:#7acfdc;color:#e21212;}

#g{width:1.3rem;text-align:center;}
.btn_g{padding:0 0.5rem;}

.key_tablebox_allins{border:1px solid #ded5d5;margin:6px 0;height:50px;background:#f4f4f4;line-height:50px;padding:0 10px;}
.key_tablebox_all .key_tablebox_allins a:hover{color:red;}
.btn_sreach{border: 1px solid #3571cc;padding:0.21rem;border-radius:0.2rem;background:#3571cc;color:antiquewhite;}
.btn_sreach:hover{background:#86b2f5;color:#383535;}

.pic_useradin{border: 1px solid #ecdada;width:30px;height:30px;border-radius:1rem;vertical-align: middle;}
.WenDongFenlai{border: 1px solid #81dfef;border-radius:0.3rem;padding:0 0.3rem;background:#81dfef;color:#1b1a19;}
.key_tablebox_all .WenDongFenlai:hover{color:red;}

.key_tablebox_lists{border: 1px solid #ecdada;width:100%;}
.key_tablebox_height{width:0.5rem;height:60px;padding:0 0.6rem;}
.key_tablebox_height2{width:0.5rem;padding:0 0.6rem;}
.input_lists{border:1px solid #cec7c7;padding:0.4rem;border-radius:0.3rem;width:74.5rem;outline:none;}
.input_lists2{border:1px solid #cec7c7;padding:0.4rem;border-radius:0.3rem;width:15rem;outline:none;}
.key_tab_w{width:5rem;text-align:right;}
.key_tablebox_txt{border:1px solid #cec7c7;width:74.5rem;padding:0.4rem;border-radius:0.4rem;outline:none;}
.key_table_ify{border:1px solid #cec7c7;padding:0.4rem;border-radius:0.3rem;outline:none;}
.key_table_tijiao{border:1px solid #5e8de2;width:16.3rem;height:2.5rem;border-radius:0.4rem;background:#5e8de2;color:beige;outline:none;cursor:pointer;}
.key_table_tijiao:hover{background:#3978e8;}
.input_imgs{border:1px solid #e4dada;width:7rem;border-radius:0.4rem;display:none;}

.t_guizhe{border:1px solid #d8cdcd;padding:5px;}
.t_guizhe_list{line-height:25px;}
.t_guizhe2{border:1px solid #d8cdcd;padding:5px;}
.t_guizhe_list2{line-height:25px;}

.fenlaitongji{border:1px solid #ded5d5;padding:0.8rem;margin-top:1rem;}
.fenlaitongji h1{font-size:15px;height:2rem;line-height:2rem;font-weight:bold;}
.fenlaitongji_1{line-height:1.5rem;}
.fenlaitongji_in{float:left;}
.fltj_in{width:20rem;}



